<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <title>List All Products</title>
  </head>

  <body>
    <!-- Header -->
    <header id="header">
      <nav class="left">
        <a href="#menu"><span>Menu</span></a>
      </nav>
      <div
        th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
      >
        <a href="/admin/dashboard" class="logo"
          ><p
            th:utext="${session.userdetails.firstName}+' ' +${session.userdetails.lastName}"
          ></p
        ></a>
      </div>
      <nav class="right">
        <a href="/logout" class="button alt">Log out</a>
      </nav>
    </header>

    <!-- Menu -->

    <nav id="menu">
      <ul class="links">
        <li
          th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
        >
          <a href="/admin/list">Employees</a>
        </li>
        <li><a href="/all/product/list">Products</a></li>
        <li><a href="/all/catalogue/customers">Customers</a></li>
        <li><a href="/all/catalogue/listrecord">Stock Usage Records</a></li>
      </ul>
      <ul class="actions vertical">
        <li><a href="#" class="button fit">Logout</a></li>
      </ul>
    </nav>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h2 class="mb-0">Product List</h2>
        </div>
        <div class="col-auto">
          <div
            th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
          >
            <a class="btn btn-primary" th:href="@{/admin/product/add}">
              Add New Product
            </a>
          </div>
        </div>
      </div>
      <h2 th:if="${#lists.isEmpty(products)}" style="text-align: center">
        You haven't added any products yet
      </h2>
      <table th:if="${not #lists.isEmpty(products)}">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Color</th>
          <th>Original Price</th>
          <th>Wholesale Price</th>
          <th>Retail Price</th>
          <th>Partner Price</th>
          <th>Category</th>
          <th
            th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
          >
            Edit
          </th>
          <th
            th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
          >
            Delete
          </th>
        </tr>
        <tr th:each="product:${products}" class="table-row">
          <td th:text="${product.id}">Id</td>
          <td th:text="${product.name}">name</td>
          <td th:text="${product.brand}">brand</td>
          <td th:text="${product.colour}">colour</td>
          <td th:text="${product.oriPrice}">oriPrice</td>
          <td th:text="${product.wholesalePrice}">wholesalePrice</td>
          <td th:text="${product.retailPrice}">retailPrice</td>
          <td th:text="${product.partnerPrice}">partnerPrice</td>
          <td th:text="${product.category}">category</td>
          <td
            th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
          >
            <a
              href="EditProduct.html"
              th:href="@{/admin/product/edit/}+${product.id}"
              >Edit</a
            >
          </td>
          <td
            th:if="${session.userdetails.role == T(com.team2.inventory.model.Role).ADMIN}"
          >
            <a
              href="DeleteProduct.html"
              th:href="@{/admin/product/delete/}+${product.id}"
              >Delete</a
            >
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
